

.background {
    background-image: url('../images/about.jpg');
    background-position: top, bottom;
    height: 1100px;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: cover, cover;
    position: relative;
}

.about-text  {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10vh;
    max-width: 390px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5%;
    padding: 5px;    
    
}

p { 
    font-size: 20px;
}