body {
  min-height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
}

.form-field input {
  padding: 8px;
  margin-bottom: 10px;
  }

  .form-field {
    display: flex;
    flex-direction: column;
  }

.card-details {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 24px;
  color: #333;
  margin-top: 20px;
  margin-bottom: 20px;
}

#jacketId, #selectedSize, #selectedColor {
  font-weight: bold;
}

section {
  padding: 20px;
  justify-content: center;
}

.form-field input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.form-field input[type="submit"]:hover {
  background-color: #555;
}

.submit{
  background-color: #0A3641;
  height: 2.5em;
  border-radius: 10px;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 5em;
  margin-top: 1em; 
  width: 100%;
}

.submit:hover {
  background-color: #0A3641;
  
  cursor: pointer;
}

.error-message {
  color: red;
}