  body {
    min-height: 100vh;
  }
  
    main {
    display: flex;
    justify-content: center;   
    
    }

    .container {
        margin: 1em;
        padding: 4em;
        display: grid;
        grid-gap: 1em;
        
    
        

    }

    fieldset {
        border: 0;
    }    
       
  .form_input {
    display: block;

  }

  fieldset {
   font-size: 16px;

  }

  .checkout {
    background-color: green;
    padding: 5px;
    border-radius: 10px;
    margin-top: 4px;

  }
 
  .checkout:hover {
    color: white;
    background-color: black;
  }

  footer {
    margin-top: auto;
  }  
  