
main { 
    display: flex;
        justify-content: center;
  }

  .success-message {
    display: flex;
    display: block;         
    padding: 2em;
    margin-top: 3em;
    
  
  }

  h2 {
    margin-bottom: 1em;
  }

  footer {
    margin-top: auto;
  }  