
body { 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .summary {
    display: flex;
    display: block;
    justify-content: left;
    max-inline-size: 320px;
    margin: auto;
    padding: 2em;
    
  
  }

  h2 {
    margin-bottom: 1em;
  }

  footer {
    margin-top: auto;
  }  