body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  margin-top: 2em;
}

.success-message {
  display: flex;
  display: block;
  padding: 2em;
  margin-top: 3em;
}

h1 {
  margin-bottom: 1em;
}

footer {
  margin-top: auto;
}
